## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
DurabilityViewerMod.iml
*.ipr
/*.iws
/atlassian-ide-plugin.xml

## Gradle
build
.gradle
gradle
gradlew
gradlew.bat

## Ant
ant
debug